/test/Sportradar.LiveData.Sdk.TestApp/obj
/test/Sportradar.LiveData.Sdk.TestApp/bin
/test/Sportradar.LiveData.Sdk.TestApp/.vs
/test/Sportradar.LiveData.Sdk.TestApp/Sportradar.LiveData.Sdk.TestApp.csproj.user
/test/Sportradar.LiveData.Sdk.Service/obj
/test/Sportradar.LiveData.Sdk.Service/Properties
/test/.vs/SDK Test
/test/Sportradar.LiveData.Sdk.Service/bin/Debug
/test/.vs/ProjectEvaluation
/.vs
