<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Sdk" type="Sportradar.LiveData.Sdk.Services.SdkConfiguration.Sections.SdkConfigurationSection, Sportradar.LiveData.Sdk" />
    </configSections>
    <Sdk>
        <Common LogPath="C:\LiveData SDK Logs\1.1.2\Service\" ExecutionLogLevel="Error" ConfigLogLevel="Warn" StatsLogLevel="Warn" />
        <LiveScout ScoutUsername="***" ScoutPassword="***" Test="true" />
    </Sdk>
</configuration>
